.name{
	width: 300px;
	height: 100px;
}
.time{
	width: 300px;
	height: 100px;
}
.event{
	width: 300px;
	height: 150px;
}
body{
	background: transparent;

}
h1 {
	font-size: 3rem;
	padding: 0;
}
span, p, th, td {
	font-size: 1.8rem;
}
.admincontent {
	font-size:0;
	
}
.info{
	display: inline-block;
	vertical-align: top;
	width:50%;
}
.right-table{
	display: inline-block;
	vertical-align: top;
	width:50%;
	overflow-x:scroll;
}