/** Created by TTF.in.ua **/
@font-face {
    font-family: 'AGLettericaCondensedLight-Roman';
    src: url('../fonts/AGLettericaCondensedLight-Roman.eot');
    src: url('../fonts/AGLettericaCondensedLight-Roman.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AGLettericaCondensedLight-Roman.woff') format('woff'),
         url('../fonts/AGLettericaCondensedLight-Roman.ttf') format('truetype'),
         url('../fonts/AGLettericaCondensedLight-Roman.svg#AGLettericaCondensedLight-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
}