html, body {
	font-size: 62.5%;
	font-family: AGLettericaCondensedLight-Roman;
	overflow: hidden;
	cursor: default;
}
body {
	min-height: 100%;
	width: 100%;
	background: #323232;
	background-size: 100% auto;
	background-position: 50% 50%;
	background-image: url('/images/document.jpg');
	transition: all 0.6s ease-in;
}
header img {
	float: left;
}
div.wrapper {
	min-width: 100%;
	min-height: 100%;
}
div.margin {
	padding: 5rem;
}
main {
	font-size: 1.4rem;
	margin-left: 28.571428571%;
	width: 71.4285%;
	height: 100vh;
	overflow: hidden;
	z-index: 1;
	position: relative;
}
aside {
	font-size: 1.4rem;
	width: 28.571428571%;
	height: 100vh;
	position: fixed;
	top:0;
	left: 0;
	z-index: 2;
}

h1 {
	text-transform: uppercase;
	color: white;
	font-size: 5.2rem;
	padding: 9.6rem 5%;
	display: inline-block;
	vertical-align:middle;
	line-height: 0.95;
}
h1 .first {
	border-bottom: solid 5px;
	font-size:7.2rem;
}
h1 .last {
	text-transform: lowercase;
	font-size:3rem;
}
p.main {
	color: white;
	font-size: 2.4rem;
	padding-top: 5rem;
	padding-bottom: 1rem;
	line-height: 1.2;
	text-align: left;
	margin-bottom: 1rem;
}
img.main {
	display: inline;
	vertical-align:middle;
	background: no-repeat center center cover;
	max-width: 45%;
	max-height: 40rem;
}
.container {
	font-size: 0;
	text-align: left;
}
.container-item {
	display: inline-block;
	vertical-align: top;
	width: 50%;
	cursor: pointer;
	min-height: 11rem;
}
.container-item:hover {
	cursor: pointer;
}
.container-item p {
	color: white;
	font-size:1.8rem;
	line-height:1.2;
}


/* popup styles */
		.popup
		{
			background: #fff;
			position: fixed;
			left: 100%;
			z-index:10;
			width: 100%; 
			height: 100vh;
			overflow: hidden;
			transform: rotateX(90deg);
			transition:  0.9s;
			top: 0px;
		} 
		.popup.active{
			left: 0px;			
			transform: rotateX(0deg);
		}
		.image-preview
		{
			background-image: url('http://proffi95.ru/upload/blogs/27cdb38d98627dd73256e1ca39d09051.jpg');
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 50% 50%;
			overflow:hidden;
			width: 80%;
			max-height: 50%;
			margin-left: auto; 
			margin-right: auto; 
			margin-top: 30px;
		}
		.image-preview:before{
			content:'';
			float:right;
			padding-top:60%;
		}
		.text
		{
			width: 80%;
			font-size: 2rem;
    		margin: 1.5rem auto;
		}
		.cross
		{
			width: 3.0rem; 
			height: 3.0rem; 
			position: absolute; 
			right:0; 
			top: 0;
			background-color: black;
		}
		.cross:before
		{
			content:'';
			width:0.2rem;
			height: 1.2rem;
			transform: rotate(45deg);
			transition: all 0.5s;
			background-color: white;
			position: absolute;
			left: 1.5rem;
    		top: 0.8rem;
		}
		.cross:after
		{
			content:'';
			width:0.2rem;
			height: 1.2rem;
			transform: rotate(135deg);
			transition: all 0.5s;
			background-color: white;
			position: absolute;
			left: 1.5rem;
    		top: 0.8rem;
		}
		.cross:hover:after
		{
			transform: rotate(45deg);
		}
		.cross:hover:before
		{
			transform: rotate(135deg);
		}
		.bolt-left
		{
			width: 3.0rem; 
			height: 3.0rem; 
			position: absolute; 
			left:0; 
			top: 50%;
			background-color: black;
			display: none;
		}
		.bolt-left:before
		{
  		content: '';
    	width: 0.2rem;
    	height: 1.2rem;
    	transform: rotate(45deg);
    	transition: all 0.5s;
    	background-color: white;
    	position: absolute;
    	left: 1.2rem;
    	top: 0.5rem;
		}
		.bolt-left:after
		{
  		content: '';
   		width: 0.2rem;
   		height: 1.2rem;
    	transform: rotate(135deg);
    	transition: all 0.5s;
    	background-color: white;
    	position: absolute;
    	left: 1.2rem;
    	top: 1.2rem;
		}
		.bolt-left:hover:after
		{
			transform: rotate(45deg) translateY(-1rem);
		}
		.bolt-left:hover:before
		{
			transform: rotate(135deg) translateY(-1rem);	
		}
		.bolt-right
		{
			width: 3.0rem; 
			height: 3.0rem; 
			position: absolute; 
			right:0; 
			top: 50%;
			background-color: black;
			display: none;
		}
		.bolt-right:before
		{
  		content: '';
    	width: 0.2rem;
    	height: 1.2rem;
    	transform: rotate(45deg);
    	transition: all 0.5s;
    	background-color: white;
    	position: absolute;
    	right: 1.2rem;
    	top: 1.2rem;
		}
		.bolt-right:after
		{
  		content: '';
   		width: 0.2rem;
   		height: 1.2rem;
    	transform: rotate(135deg);
    	transition: all 0.5s;
    	background-color: white;
    	position: absolute;
    	right: 1.2rem;
    	top: 0.5rem;
		}
		.bolt-right:hover:after
		{
			transform: rotate(45deg) translateY(1rem);
		}
		.bolt-right:hover:before
		{
			transform: rotate(135deg) translateY(1rem);	
		}
		

p.sub_main {

	font-size: 1.8rem;
	line-height: 1.2;
}
.container-item img {
	float: left;
	background: no-repeat center center cover;
	display: inline;
	height: 10rem;
	width: 12.5rem;
	
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}
aside nav {
	height: 100vh;
	margin: 0rem 2.5rem;
	padding: 20% 2rem;
	border-left: solid 4px white;

}
aside img.logo {
	margin: 10px;
	height: 7.5%;
	position:absolute;
	left: 15%;
	display: block;
	cursor: pointer;
}
aside li {
	color: white;
	margin: 7% 0;
	font-size: 2.7rem;
	cursor: pointer;
	transition: all 0.2s ;
}
aside li:first-child.active{
	margin:7% 0 13% 0;
}
aside li:last-child.active{
	margin:13% 0 0 0;
}
aside li.active{
	text-shadow: 0 0 0.2rem #fff;
	margin: 13% 0;
}
aside li.active:before{
	margin-left: -2.8rem;
	transform: scale(1.5);
}
aside li:before {
	position: absolute;
	font-size: 3.2rem;
	float: left;
	margin-left: -3.2rem;
	color: white;
    content: "• ";
	transition: all 0.1s ease-out 0.1s;
}
aside li:hover:before {
	margin-left: -2.8rem;
	transform: scale(1.5);
}

.container-item{
	cursor:pointer;
}
.slide
{
	width: 100%;
	height:100vh;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	overflow: hidden;
	position: absolute;
	text-align: center;
	top:100%;
	right: 0;
	opacity: 0;
	transition: all 0.3s 0s;
}
.slide.active{
	top:0;
	opacity: 1;
	transition: all 0.7s 0.7s;

}
.slide>div
{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 2rem;
	height: 100%;
	overflow-y:hidden;
}

@keyframes back {
	0% {
		background-color: #919ec0;
	}

	20% {
		background-color: #2a2637;
	}
	
	35% {
		background-color: #3f3c69;
	}

	45% {
		background-color: #bc8bab;
	}

	50% {
		background-color: #ffb0ab;
	}

	55% {
		background-color: #fee8ae;
	}

	60% {
		background-color: #919ec0;
	}

	70% {
		background-color: #2a2637;
	}

	80% {
		opacity: 1;
		transform: scale(1);
		background-color: #3f3c69;
	}

	90% {
		background-color: #919ec0;
	}

	100% {
		opacity: 0;
		transform: scale(1.2);
		background-color: #bc8bab;
		display: none;
		z-index: 0;
	}

}

.open{
	width: 100%;
	height: 100%;
	background-image: url('/images/logo2.png');
	background-color: #fff;
	background-size:100% auto;
	background-repeat: no-repeat;
	background-position:50% 50%;
	position:fixed;
	z-index: 6;
	top: 0;
	left: 0;
}
body.active .open{
	animation-name: back;
	animation-duration: 3s;
	animation-fill-mode: both;
}
.popup.logo-back {
	background: url(/images/3ARt_back.png) 50% 50% no-repeat,
				url(/images/3ARt_front.png) 50% 50% #fff no-repeat;
	background-size: contain,cover;
}
.ya-share2{
    position: fixed;
    top: -3.3rem;
    padding-bottom: 4rem;
    margin-left: -56px;
    left: 50%;
    -webkit-transition: all 0.3s;
       -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
         -o-transition: all 0.3s;
            transition: all 0.3s;
    z-index: 4;
}
.ya-share2:hover{
	top: 0rem;
}
.ya-share2__item{
	width: 4rem;
	margin-right: 1rem;
	height: 4rem;
}
.ya-share2__item .ya-share2__link{
	width: 4rem;
    height: 4rem;
    display: block;
}
.ya-share2__item .ya-share2__link .ya-share2__badge{
	width: 4rem;
	height: 4rem;
}
.ya-share2__item .ya-share2__link .ya-share2__badge .ya-share2__icon{
	-webkit-background-size: contain;
	     -o-background-size: contain;
	        background-size: contain;
	 width: 4rem;
	 height: 4rem;
}
@media (max-width:1350px)
		{
			h1
			{
				font-size: 3rem;
				line-height: 1.3;

			}
			h1 .first
			{
				font-size: 5.2rem;
				line-height: 1;
			}
			h1 .last
			{
				font-size: 1.5rem;
			}
		}


@media (max-width:870px)
{
	h1
	{
		display: block;
		text-align: center;
	}
	.container-item
	{
		float: none;
		width: 100%;
		text-align: left;
	}
	.slide
	{
		text-align: center;
	}
	p.main
	{
		text-align: left;
	}
}