html, body {
	font-size: 62.5%;
}
textarea {
	resize: both;
}
body{
max-width: 700px;
margin: auto;
}
input,textarea {
border: 1px solid #0082e6;
background-color: #7fc7ff;
padding: 3px;
margin: 2px;
border-radius: 2px;
width:30%;
}
input[type="submit"] {
width:31.7%;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #303030;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #303030;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #303030;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #303030;
}
input:focus,textarea:focus{
border: 1px solid #0082e6;
background-color: #e6f4ff;
box-shadow: inset 0px 0px 2px #1581e6;
}

.sign_in {
    margin-top: 40%;
	font-size: 1.6rem;
}
.panel {
	font-size: 1.6rem;
}
table {
    width: 70%;
    border-collapse: collapse;
}
td, th {
    border: 1px solid #0082e6;
    padding: 3px 7px 2px 7px;
}
th {
	font-size:1.6rem;
    text-align: left;
    padding: 5px;
    background-color: #7fc7ff;
    color: #303030;
}
tr{
	font-size:1.3rem;
	text-align: top;
}
tr:nth-child(odd) { background-color: #e6f4ff; }

